body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 160%;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
    margin: 0;
}

div.block {
    background-color: #f5f5f5;
    padding: 30px;
    width: 40%;

    h1 {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .small {
        display: flex;

        > div {
            margin-right: 3pc;
        }
    }
}

@keyframes flash {
    0%{color: transparent;}
    25%{color: inherit;}
    50%{color: transparent;}
    75%{color: inherit;}
    100%{color: transparent;}
}

span.cursor{
    margin-left: 5px;
    animation-name: flash;
    animation-duration: 2s;

    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

div.divider{
    background: black;
    color: white;
    position: relative;

    >div.block{
        color: black;
        position: absolute;
        right: 0;
        top: 3pc;
    }

    >div.content{
        padding: 12pc 0;
        padding-bottom: 2pc;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        img,picture>img{
            width: 15vw;
            height: auto;
            border-radius: 100%;
            border: 10px solid #f5f5f5;
            margin-right: 5pc;
        }
    }
}

.page {
    width: 100%;

    &.home {
        position: relative;

        div.block{
            position: absolute;
            bottom: 10%;
            min-height: 22%;
            z-index: 3;
        }

        div.links {
            background: black;
            position: absolute;
            right: 0;
            top: 10%;
            display: inline-block;
            padding: 30px;
            z-index: 3;

            a {
                color: white;
                text-decoration: none;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                svg {
                    width: 3pc;
                }
            }
        }

        .carousel {
            width: 100%;

            .cards {
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
                display: flex;

                .card {
                    height: 100%;
                    background-size: cover;
                    position: relative;

                    .crossfade{
                        position: absolute;
                        background-size: cover;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        opacity: 0;
                    }

                    &.active {
                        width: 80vw;
                        display: inline-block;

                        .dots {
                            position: absolute;
                            top: 20px;
                            left: 20px;
                            z-index: 4;

                            .dot {
                                width: 10px;
                                height: 10px;
                                border: 1px solid white;
                                border-radius: 100%;
                                margin-bottom: 20px;

                                &.active {
                                    border-color: transparent;
                                    background-color: white;
                                }
                            }
                        }
                    }

                    &.next {
                        width: 20vw;
                        display: inline-flex;
                        align-items: flex-start;
                        justify-content: center;
                        border-right: 2px solid gainsboro;

                        > div.gradient {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 3;
                            background: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
                        }

                        > div.arrow {
                            z-index: 10;
                            margin-top: 5pc;
                            background-color: black;
                            padding: 20px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            &:hover {
                                background-color: white;
                                svg {
                                    path {
                                        fill: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.experience {

        div.block{
            background-color: black;
            color: white;
            margin: 5pc 0;
        }

        .entry {
            display: flex;
            width: 80%;
            margin: 0 auto;
            position: relative;
            min-height: 20pc;
            padding-bottom: 30px;

            &:last-child {
                min-height: unset;

                .line {
                    display: none;
                }
            }

            picture{
                z-index: 1;
            }

            > img, >picture>img {
                width: 150px;
                height: 150px;
                border: 10px solid #eaeaea;
                border-radius: 6%;
                margin-right: 4pc;
                z-index: 1;
                background: #f5f5f5;
            }

            .detail {
                margin-top: 7px;

                > .position {
                    margin-bottom: 20px;

                    .business,
                    .position,
                    .duration,
                    .location {
                        font-family: "Space Mono", monospace;
                        font-size: 0.8em;
                    }

                    .business{
                        font-weight: bold;
                        font-size: 1.15em;
                    }

                    .position {
                        font-weight: bold;
                        font-size: 1.3em;
                    }
                }
            }

            .line {
                $width: 5px;

                position: absolute;
                height: 100%;
                width: $width;
                background: #eaeaea;
                z-index: 0;
                left: calc((150px / 2) - (#{$width} / 2));
            }
        }
    }

    
    &.skills {
        display: flex;
        flex-direction: column;
        color: white;
        background: black;

        >div.block{
            align-self: flex-end;
            margin: 3pc 0;
            color: black;
        }

        .boxes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 80%;
            margin: 0 auto;

            .box{
                width: 22%;
                background: #BA274A;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 3pc;
                transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

                .cursor{
                    visibility: hidden;
                }

                &:hover{
                    background: white;
                    color: black;

                    .cursor{
                        visibility: visible;
                    }

                    .meter{
                        border-color: black;

                        &::after{
                            background: black;
                        }
                    }
                }

                .meter{
                    border: 5px solid;
                    border-color: white;
                    transition: border-color 0.5s ease-in-out;

                    width: 70%;
                    height: 20px;
                    margin-top: 40px;
                    position: relative;

                    &::after{
                        content: "";
                        display: inline-block;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        background: white;
                        transition: background 0.5s ease-in-out;
                    }

                    @for $i from 0 through 5 {
                        &.m#{$i}::after{width: calc(20% * #{$i});}
                    }
                }

                h3{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .page.skills .boxes .box{
        width: 30%;
    }
}

@media screen and (max-width: 635px){
    .page.skills .boxes .box{
        width: 47%;
    }

    div.divider > div.content{
        flex-direction: column;

        img, picture, picture>img{
            margin: 0;
            width: 30vw;
            margin-bottom: 20px;
        }
    }

    .page.experience .entry{
        img, picture, picture>img{
            width: 75px;
            height: 75px;
            border-width: 5px;
        }
        
        .line{
            left: calc((75px / 2) - (5px / 2));
        }
    } 

    div.block{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .page.skills .boxes .box{
        width: 95%;
    }
}

@media screen and (max-width: 360px){
    .page.experience .entry{
        flex-direction: column;
        align-items: center;

        img, picture{
            margin:0;
            width: 150px;
            height: 150px;
        }

        .line{
            display: none;
        }
    }
}